body {background-color: black;}
h1{
    text-transform: uppercase;
}


.poster {
    width : 50%;
    margin-left: 25%;
    color : white;
    font-family: 'Dosis', sans-serif;
    text-emphasis: center;


}

.motivation-img {
    border : 5px solid white;
    width : 100%;
}